@import 'inc/vars';

// is-root-container support
.is-root-container,
.is-layout-constrained,
.is-root-container
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout {
  width: 100%;
  max-width: 100%;
  padding: 0;

  > * {
    //padding-inline: var(--size-lg);
    margin-inline: auto;
    width: 100%;
    max-width: var(--content-size);

    &[data-align='wide'],
    &.alignwide {
      max-width: var(--wide-size);
    }

    &[data-align='full'],
    &.alignfull {
      padding-inline: 0;
      max-width: unset;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Visibility Helper Classes
@media (min-width: #{ $break-wide }) {
  .wp-block:not(.is-selected) {
    .hide-on-desktop {
      opacity: 0.5;
    }
  }
}

@media (min-width: #{ $break-small + 1 }) and (max-width: #{ $break-wide - 1 }) {
  .wp-block:not(.is-selected) {
    .hide-on-tablet {
      opacity: 0.5;
    }
  }
}

@media (max-width: #{ $break-small }) {
  .wp-block:not(.is-selected) {
    .hide-on-mobile {
      opacity: 0.5;
    }
  }
}

// Group Module Styles
.wp-block-group {
  --group-space: var(--size-lg);

  &.is-style {
    &-with-space-xl {
      --group-space: var(--size-2xl);
    }

    &-without-space {
      --group-space: 0;
    }
  }

  &:not(.is-layout-grid) {
    > *:first-child {
      padding-top: var(--group-space);
    }
  }

  > *:last-child {
    padding-bottom: var(--group-space);
  }
}

// Page title in editor
.edit-post-visual-editor__post-title-wrapper {
  height: 48px;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2rem;

  h1 {
    font-family: var(--primary-font-family), sans-serif;
    font-size: initial;
    line-height: initial;
    text-transform: none;
    width: 100%;
    max-width: var(--content-size);
    margin: 0 auto;

    &::before {
      font-weight: normal;
      content: 'Title: ';
      opacity: 0.5;
    }
  }
}

// Spacer block in editor
.block-editor-block-list__block[data-type='core/spacer']:before {
  background-color: var(--white);
  opacity: 1;
  background-image: linear-gradient(var(--gray) 2px, transparent 2px),
    linear-gradient(90deg, var(--gray) 2px, transparent 2px),
    linear-gradient(var(--gray) 1px, transparent 1px),
    linear-gradient(90deg, var(--gray) 1px, var(--white) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

// Add modules styles to editor
div.editor-styles-wrapper {
  @import '../gutenberg/blocks/**/styles.scss';
}
