@import 'inc/vars';

// Utils
@import 'inc/fonts';
@import 'inc/mixins';
@import 'inc/reset';
@import 'inc/typography';
//@import 'inc/animation';
@import 'inc/global';
@import 'inc/block-styles';

// Plugins
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';
//@import '~jarallax/src/jarallax.css';
//@import '~slick-carousel/slick/slick.scss';
//@import '~slick-carousel/slick/slick-theme.scss';

// Layouts
@import 'layouts/header';
@import 'layouts/socials';
@import 'layouts/footer';
@import 'layouts/sidebar';
@import 'layouts/pagination';
/* basic Gravity Form styles and fixes, if you dont need/use this -
comment or delete styles below */
//@import 'layouts/gform';
//@import 'layouts/woo';

// Templates
@import 'templates/default';
@import 'templates/blog';

// Custom Gutenberg blocks
@import '../gutenberg/blocks/**/styles.scss';
