@import '@wordpress/base-styles/breakpoints';

/* ---------------------------------------
	General blog styles
--------------------------------------- */
.blog {
  padding-block: var(--size-lg);

  &__inner {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (min-width: #{ $break-wide }) {
    &__outer {
      display: flex;
      gap: var(--size-lg);
    }

    &__inner {
      flex: 1;
    }

    &__sidebar {
      width: 30%;
      flex-shrink: 0;
    }
  }
}

/* ---------------------------------------
	Loop post preview
--------------------------------------- */
.preview {
  margin-bottom: var(--size-md);
  padding-bottom: var(--size-md);
  border-bottom: 1px solid var(--gray);

  &__meta {
    margin-top: var(--size-md);
    margin-bottom: 0;
    color: var(--gray);
    font-size: 14px;
  }

  &__thumb {
    margin-bottom: var(--size-md);
  }
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */
.entry {
  &__thumb {
    margin-bottom: var(--size-md);
  }

  &__meta {
    color: var(--gray);
    font-size: var(--font-size-text-medium);
  }

  &__cat {
    margin-top: var(--size-md);
  }
}
