@import '@wordpress/base-styles/breakpoints';

/* ---------------------------------------
	is-root-container support for frontend
--------------------------------------- */
.is-root-container,
.is-layout-constrained,
.is-root-container
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout {
  width: 100%;
  max-width: 100%;
  padding: 0;

  > * {
    padding-inline: var(--size-lg);
    margin-inline: auto;
    width: 100%;
    max-width: var(--content-size);

    &[data-align='wide'],
    &.alignwide {
      max-width: var(--wide-size);
    }

    &[data-align='full'],
    &.alignfull {
      padding-inline: 0;
      max-width: unset;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* ---------------------------------------
  Visibility Helper Classes
--------------------------------------- */
@media (min-width: #{ $break-wide }) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (min-width: #{ $break-small + 1 }) and (max-width: #{ $break-wide - 1 }) {
  .hide-on-tablet {
    display: none !important;
  }
}

@media (max-width: #{ $break-small }) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* ---------------------------------------
	Group Module Styles
--------------------------------------- */
.wp-block-group {
  --group-space: var(--size-lg);

  &.is-style {
    &-with-space-xl {
      --group-space: var(--size-2xl);
    }

    &-without-space {
      --group-space: 0;
    }
  }

  &:not(.is-layout-grid) {
    > *:first-child {
      padding-top: var(--group-space);
    }
  }

  > *:last-child {
    padding-bottom: var(--group-space);
  }
}
