@import '@wordpress/base-styles/breakpoints';

/* ---------------------------------------
	is-root-container support for frontend
--------------------------------------- */
.is-root-container,
.is-layout-constrained,
.is-root-container
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout {
  width: 100%;
  max-width: 100%;
  padding: 0;

  > * {
    padding-inline: var(--size-lg);
    margin-inline: auto;
    width: 100%;
    max-width: var(--content-size);

    &[data-align='wide'],
    &.alignwide {
      max-width: var(--wide-size);
    }

    &[data-align='full'],
    &.alignfull {
      padding-inline: 0;
      max-width: unset;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* ---------------------------------------
  Visibility Helper Classes
--------------------------------------- */
@media (min-width: #{ $break-wide }) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (min-width: #{ $break-small + 1 }) and (max-width: #{ $break-wide - 1 }) {
  .hide-on-tablet {
    display: none !important;
  }
}

@media (max-width: #{ $break-small }) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* ---------------------------------------
	Group Module Styles
--------------------------------------- */
.wp-block-group {
  --group-space: var(--size-lg);

  &.is-style {
    &-with-space-xl {
      --group-space: var(--size-2xl);
    }

    &-without-space {
      --group-space: 0;
    }

    &-container {
      max-width: fit-content;
      margin: 0 auto;
      gap: calc(var(--size-md) * 2);
    }
  }

  @media (max-width: $break-medium) {
    &.is-layout-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

/* ---------------------------------------
	Unmarkered List (UL) Module Styles
--------------------------------------- */
.wp-block-list {
  --icon-color: var(--green);

  list-style: none;

  &.is-style-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    li {
      max-width: 15rem;
      width: max-content;
    }
  }

  &.is-style-three-columns {
    column-count: 3;
  }

  &.is-style-center {
    text-align: center;
  }

  li {
    position: relative;
    width: fit-content;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;

      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='var(--icon-color)'%3E%3Cpath d='M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;

      background-color: var(--icon-color);
    }

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      left: -2.25rem;
      width: 2rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.65);
    }
  }

  @media (max-width: $break-medium) {
    &.is-style-two-columns,
    &.is-style-three-columns {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
