* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--transition-base);
}

html {
  height: 100%;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  position: static;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  overflow-x: clip;

  > main {
    flex-grow: 1;
    overflow: clip;
  }

  > footer {
    flex-shrink: 0;
    margin-top: auto;
  }
}

*:last-child {
  margin-bottom: 0;
}

/* Preloader */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  z-index: 100000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background-color: var(--white);
  color: var(--primary);
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: '';
      display: block;
      font-size: 40px;
      font-weight: 900;
      animation: spin 1s ease-in-out infinite;
    }
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

/* Search form */
.search {
  position: relative;

  .posts-list & {
    margin-bottom: 40px;
  }
}

.search__input {
  padding-right: 75px;
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: 10px 15px;
  cursor: pointer;
}

//use @extend %bgcover; to selector if you need background cover;
%bgcover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bg-cover {
  @extend %bgcover;
}

//use @extend %bgcontain; to selector if you need contain image in block;
%bgcontain {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.bg-contain {
  @extend %bgcontain;
}

.stretched-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rel-content {
  position: relative;
  z-index: 2;
}

.of-cover,
.stretched-img {
  object-fit: cover;
  object-position: 50% 50%;
}

/* Lazyload images */
img {
  &[data-lazy-src] {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &.pre-lazyload {
    opacity: 0;
  }

  &.lazyloaded {
    opacity: 1;
  }
}
