/* ---------------------------------------
	Typography
--------------------------------------- */
html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--primary-font-family), sans-serif;
  font-size: var(--font-size-text-large);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-text);
  color: var(--text-color);
  background: var(--bg-color);
}

h1,
.h1,
.has-h1-font-size,
h2,
.h2,
.has-h2-font-size,
h3,
.h3,
.has-h3-font-size,
h4,
.h4,
.has-h4-font-size,
h5,
.h5,
.has-h5-font-size,
h6,
.h6 {
  font-family: var(--heading-font-family), sans-serif;
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-bold);
}

h1,
.h1,
.has-h1-font-size {
  font-size: var(--font-size-h1);
}

h2,
.h2,
.has-h2-font-size {
  font-size: var(--font-size-h2);
}

h3,
.h3,
.has-h3-font-size {
  font-size: var(--font-size-h3);
}

h4,
.h4,
.has-h4-font-size {
  font-size: var(--font-size-h4);
}

h5,
.h5,
.has-h5-font-size {
  font-size: var(--font-size-h5);
}

h6,
.h6,
.has-h6-font-size {
  font-size: var(--font-size-h6);
}

p {
  /* basic paragraph styles */
  &:empty {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: var(--size-md);
  }

  a {
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

ul {
  /* basic list styles */
  font-size: inherit;

  li {
    /* basic list-item styles */
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition-base);

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: var(--primary);
  }
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */
.no-outline {
  button,
  a,
  [tabindex] {
    outline: none;
  }
}

/* Placeholder styling */
input,
textarea {
  &::placeholder {
    opacity: 1;
  }
}

/* Input Styling */
[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select,
.select-styled {
  margin-bottom: 0;
}

textarea[rows] {
  /* Styles for TextArea */
  height: 150px;
  max-width: 100%;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
  margin-bottom: 0;
}
