@import '@wordpress/base-styles/breakpoints';

.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  overflow-x: clip;
  z-index: 3604;
  background-color: var(--white);
  padding-block: var(--size-md);
  transition: var(--transition-base);

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-lg);
  }

  .logo {
    a {
      display: block;
    }

    img {
      max-height: 150px;
    }
  }

  /* TOP BAR Mobile STYLING */
  @media (max-width: #{ $break-wide - 1 }) {
    .title-bar {
      .menu-icon {
        padding: 0;
        border: none;
        background-color: transparent;

        @include menu-icon(var(--black), var(--black), 30px, 24px, 3px);
      }
    }

    .top-bar {
      position: absolute;
      top: var(--header-height, 0);
      right: 0;
      width: 100%;
      height: calc(100vh - var(--header-height, 0));
      overflow-y: auto;
      background: var(--primary);
      padding: var(--size-lg);
      z-index: -1;
      transform: translateX(100%);
      pointer-events: none;
      visibility: hidden;
      transition: var(--transition-base);

      /* stylelint-disable */
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--gray);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--white);
      }
      /* stylelint-enable */

      &.is-active {
        z-index: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
      }
    }

    .header-menu {
      background: transparent;

      li {
        > a {
          background: var(--primary);
          color: var(--white);
          line-height: 45px;

          &:focus {
            &,
            & + .submenu-toggle {
              background: var(--primary);
            }
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a,
          .submenu-toggle {
            background: var(--primary);
          }
        }

        &[aria-expanded='true'] {
          > a,
          .submenu-toggle {
            background: var(--primary);
          }
        }
      }

      .submenu {
        a {
          padding-left: var(--size-md);
        }

        .submenu {
          a {
            padding-left: var(--size-lg);
          }
        }
      }
    }
  }

  /* TOP BAR Desktop STYLING */
  @media (min-width: #{ $break-wide }) {
    .title-bar {
      display: none;
      pointer-events: none;
    }

    .header-menu.menu {
      display: flex;
      align-items: center;
      gap: var(--size-lg);

      li {
        display: block;
        position: relative;

        > a {
          /* Regular menu item style */
          display: block;
          color: var(--primary);
          padding: var(--size-sm);

          &:hover {
            /* menu item style on hover */
            background: var(--primary);
            color: var(--white);
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            /* Style of Current page and Ancestor page */
            background: var(--primary);
            color: var(--white);
          }
        }

        &.has-dropdown {
          > a {
            /* Style of item with dropdown */
          }

          &:hover {
            > .submenu {
              /* Show dropdown on hover */
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
            }
          }
        }

        &.is-active > a {
          /* Parent link style on dropdown hover */
          background: var(--white);
          color: var(--primary);
        }
      }

      /* Dropdown item styling */

      .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 11;
        min-width: 10rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: var(--transition-base);

        li {
          > a {
            /* Regular link in dropdown */
            background: var(--white);
            color: var(--primary);

            &:hover {
              /* Dropdown link on hover */
              background: var(--primary);
              color: var(--white);
            }
          }

          &.current-menu-item,
          &.current_page_ancestor,
          &.current_page_parent {
            > a {
              background: var(--primary);
              color: var(--white);
            }
          }
        }

        .submenu {
          /* Styles for 2nd level dropdown menu */
        }
      }
    }
  }
}
